# Supabase Configuration
SUPABASE_URL=
SUPABASE_SECRET_KEY=
# For IPv4/session pooling as direct connection needs IPv6 or paid IPv4 add ons
# Format: postgresql://postgres.[project-id]:[password]@aws-1-ap-south-1.pooler.supabase.com:5432/postgres
SUPABASE_DB_CONNECTION_STRING=