SUPABASE_URL=
SUPABASE_SECRET_KEY=
# This is used by the migration script (migrate.py) which uses psycopg2
# Format: postgresql://postgres.[project-id]:[password]@aws-0-us-east-1.pooler.supabase.com:6543/postgres
# For IPv4/session pooling as direct connection needs IPv6 or paid IPv4 add-ons
SUPABASE_DB_CONNECTION_STRING=
